* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    display: flex;
    margin: 20px;
}

.lateral {
    font-weight: 500;
    flex-wrap: wrap;
    background-color: burlywood;
    padding: 5vw;
    height: 100vh;
    width: 15vw;
    text-align: center;
    
}

.lateral .item {
    cursor: pointer;
    
}

.principal {
    background-color: greenyellow;
    padding: 5vh;

}

@media (min-width: 640px) {
    
    .contenedor {
        flex-direction: column;
        border: 2px solid blue;
        width: 100vw;
        
    }
    
    .principal {
        background-color: #ccc;
        
    }

    .lateral {
        display: flex;
        justify-content: center;
        height: 10vh;
        width: auto;
        align-content: center;
        gap: 0.5rem;

    }

    .item {
        border: 2px solid blue;
        border-radius: 10px;
        padding: 5px;
        background-color: bisque;
    }



}
